.gp-card-home {
    margin: 20px;
    width: 30%;
}

.gp-img-home {
    width: 100%;
}

.gp-section-home{
    display: flex;
    width: 80%;
    margin: auto;
}
.mySlide{
    display: none;
}

.gp-img-slide{
    vertical-align: middle;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 0 3px;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    position: absolute;
    text-align: center;
}
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .prev:hover, .next:hover{
    background-color: rgb(0, 0, 0, 0.8);
  }

  .active, .dot:hover{
    background-color: #717171;
  }

  .fade{
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
  }